<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic</title>
    <link rel="stylesheet" href="{% static 'mywebapp/style.css' %}">
</head>
<body>

    <header>
        <h1>Simple Flask web Page(Ex 2)</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <main>
        <p>This is a simple template with header having element Home, About and Contact.
            There is footer with Some Contact details.</p>
    </main>

    <footer>
        Contact us at: yashbari99@gmail.com | Phone: +91 9834148536
    </footer>

</body>
</html>
